header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  box-shadow: 0px 1px 10px 2px rgba(105, 185, 0, 0.2);
}
.headerLogo {
  width: 50px;
  height: 50px;
  padding-left: 1rem;
}
.headerText {
  margin: 0;
  padding-right: 1rem;
  padding-left: 0.5rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: rgb(89, 172, 60);
}
